*{
    margin: 0;
    padding: 0;
}
body{
    background: url(file:///C:/Users/anjali/Pictures/360_F_252001794_8r2OXk6SW7TJ3es4cksZgFVfZOEen6mm.jpg) ;
    background-size: 100%;
}
.linkpage{
    text-align: left;
    font-weight: bold;
    font-size:x-large ;
    color: blue;
}
header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
}
h1{
    text-align: center;
}